body{
	background-color:#D6D6D6;
	
}
.navbar {
  background-color: #333;
  padding: 10px 0;
  display: flex;
  justify-content: center;  
}

/* Style for navbar list */
.navbar-list {
  list-style-type: none;
  display: flex;  
  gap: 20px;  
}

/* Style for each nav item */
.navbar-list li {
  display: inline-block;
}

.navbar-list a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.navbar-list a:hover {
  background-color: blueviolet;
}
.image-gallery {
      flex: 1;
      text-align: center;
      padding: 20px;
  }
  
  .image-container {
    max-width: 1200px;
    margin: 20 auto;
    padding: 20px;
    display:flex;
    
  }
  
  img {
    max-width: 40%; 
            height: auto; 
            border: 5px solid #000; 
            border-radius: 15px;
            height: 50vh;
  }
  
  p1 {
    text-align: left;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .summary5{ 
    flex: 1; 
    padding: 20px; }
    h7{
        margin-bottom: 15px;
        color: blueviolet;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        border-bottom: 2px solid black;
    }
    h8{
        margin-bottom: 15px;
        color: blueviolet;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        border-bottom: 2px solid black;
    } 
    .footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 20px 0;
        position: relative;
        bottom: 0;
        width: 100%;
      } 
      .icons {
        margin-bottom: 10px;
      }
      .icon {
        color: white;
        font-size: 24px;
        margin: 0 15px;
        text-decoration: none;
        transition: color 0.3s ease;
      }
      .icon:hover {
        color:blueviolet; 
      }
      .footer p {
        font-size: 14px;
      }
      .summary2 {
        flex: 1; 
      }
    
